* {
    user-select: none;
    font-family: fantasy;
}

body {
    margin: 0px;
    height: 100vh;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: beige;
    text-align: -webkit-center;
    position: relative;
}
#result {
    margin-top: 2%;
    font-size: x-large;
}
#restart-btn {
    margin-top: 5%;
    cursor: pointer;
}
#rules-btn {
    margin-top: 5%;
    font-size: large;
    background: transparent;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}
#rules-close {
    position: absolute;
    right: 5%;
    top: 5%;
    transform: translate(-50%, -50%);
    line-height: 150%;
    margin: auto;
    z-index: 3;
    font-size:xx-large;
    cursor: pointer;
    display: none;
}
#rules {
    width: 100%;
    height: min-content;
    text-align: -webkit-left;
    position: absolute;
    padding-top: 2rem;
    top: -1%;
    line-height: 150%;
    margin: auto;
    z-index: 2;
    background-color: rgba(211, 211, 211, 0.95);
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: text;
    display: none;
}

#rules p {
    font-weight: bold;
    font-size: medium;
    width: 80%;
    line-height: 200%;
    user-select: text;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 0px; 
    height: 100vh;
}


a {
    color: inherit; 
    text-decoration: inherit;
  }

.disable {
    pointer-events: none;
}




#lastMove {
    background-color: yellow;
}



.congratsBG {
    visibility: hidden;
    background-color: black;
    margin: 0 6vw 0 6vw;
    max-height: 40vh;
    ;
}

.congratsText {
    font-size: 10vh;
    color: white;
}

.btnRematch {
    font-size: 7vh;
    color: white;
}

span {
    color: red;
}

span:hover {
    cursor: pointer;
    color: yellow;
}

span:active {
    cursor: pointer;
    color: blue;
}


/* .congratsBG {
    visibility: hidden;
    background-color: black;
    margin: 0 6vw 0 6vw;
    max-height: 40vh;
    opacity: 1;
    ;
} */

.main-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 50vh;
    background-color: gray;
    grid-gap: 10px;
    height: 53vh;
}



.TTT {
    display: grid;
    background-color: lightgray;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}


.cell {
    background-color: white;
    color: white;
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3vh;
    height: 5.2vh;
    width: 5vh;
 
    
}

.cell:hover {
    background-color: lightblue;
    cursor: pointer;
    align-items: center;
    margin: 0;
    padding: 0
}


.markX.cellW {
    background-color: lightblue;
    pointer-events: none;
    color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 3vh;
    font-size: 3vh;
}

.markX.cell2W {
    background-color: lightpink;
    pointer-events: none;
    color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 3vh;
    font-size: 3vh;

}

.markO.cellW {
    background-color: lightblue;
    pointer-events: none;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 3vh;
    font-size: 3vh;
}

.markO.cell2W {
    background-color: lightpink;
    pointer-events: none;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3vh;
    line-height: 3vh;
}

.cellW {
    background-color: lightblue;
    pointer-events: none;
    font-size: 0;
}

.cell2W {
    background-color: lightpink;
    pointer-events: none;
    font-size: 0;
}



.markX {
    background-color: white;
    color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3vh;
    pointer-events: none;
}

.markO {
    background-color: white;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 3vh;
    pointer-events: none;
}

.cellNA {
    background-color: bisque;
    color: white;
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0;
    pointer-events: none;
}



.cell2:hover
{
    background-color: lightpink;
    color: gray;
    cursor: pointer;
    font-size: 3vh;
}

@media screen and (max-width: 3000px) {
    .sidebar1, .sidebar2 {
        display: none;
    }
    body {
        grid-template-rows: 1fr 1fr 5fr;
        grid-template-columns: 1fr;
    }
    header{
        grid-column: 1/2;
        grid-row: 1/2;
        font-size: 1.2vh;
        height:2vh;
    }
    .sidebar3 {
        grid-column: 1/2;
        grid-row: 2/3;
        width: 95vw;
        height: inherit;
        margin-top: 10%;
        justify-content: space-between;


    } 

    .score {
        font-size: 3.5vw;
        padding-left: 10%;
        
    }
    
    .timer {
        font-size: 6.5vw;
        height: inherit;
    }
    .main-content {
        grid-column: 1/2;
        grid-row: 3/4;
        top: 50%;
        height: 40vw;
        width: 40vw;
        margin: auto;
        grid-gap: 7.5px;
    }
    .TTT {
        grid-gap: 0.3vw;
    }
    .cell {
        width: 4vw;
        height: 4vw;
    }
    .charContainer {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80vw;
    }
    .btnClose {
        position:absolute;
        font-size: 3vh;
        text-shadow: black 2px 0px 3px;
        top: -5%;
        left: 85%;
        border: none;
        background-color: transparent;
        cursor: pointer;
        line-height: 7vh;
    }
    .congratsBG {
        margin-top: 15vh;
        margin: auto;
    }
    .congratsText {
        font-size: 4vh;
        color: white;
    }
    .btnRematch {
        font-size: 4vh;
        color: white;
    }
    .restarting {
        top: 45%;
        left: 52%
    }
    .restarting > h1 {
        font-size: 3vh;
    }
    .options {
        width: 80vw;
        height: 60vh;
        font-size: 5vw;     
    }
    .options > ul {
        line-height: 6vh;
    }
    .settings > img {
        left: 90%;
        height:3vh;
    }
}

@media screen and (max-width: 900px) {
    .main-content {
        top: 55%;
        height: 50vw;
        width: 50vw;
    }
    .cell {
        width: 5vw;
        height: 5vw;
    }
}

@media screen and (max-width: 680px) {
    .main-content {
        height: 70vw;
        width: 70vw;
    }
    .cell {
        width: 7vw;
        height: 7vw;
    }
}

@media screen and (max-width: 480px) {
    .main-content {
        top: 50%;
        height: 94vw;
        width: 94vw;
    }
    .cell {
        width: 9.7vw;
        height: 9.7vw;
    }
}
