* {
    user-select: none;
    font-family: "Luminari", "Raleway", "Comic Sans MS";
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    height: 100dvh;
    width: 100dvw;
    background-color: beige;
    text-align: -webkit-center;
    position: relative;
}
#result {
    font-weight: bold;
    margin-top: 1%;
    font-size: x-large;
}
#restart-btn {
    margin-bottom: 2%;
    margin-top: 10%;
    align-self: center;
    width:fit-content;
    cursor: pointer;
}
#rules-btn {
    margin-top: 1%;
    font-size: large;
    background: transparent;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}
#rules-close {
    position: absolute;
    right: 5%;
    top: 5%;
    transform: translate(-50%, -50%);
    line-height: 150%;
    margin: auto;
    z-index: 3;
    font-size:xx-large;
    cursor: pointer;
    display: none;
}
#rules {
    width: 100%;
    height: min-content;
    text-align: -webkit-left;
    position: absolute;
    padding-top: 2rem;
    top: -1%;
    line-height: 150%;
    margin: auto;
    z-index: 2;
    background-color: rgba(211, 211, 211, 0.95);
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: text;
    display: none;
}

#rules p {
    font-size: medium;
    width: 80%;
    line-height: 200%;
    user-select: text;
}

#lastMove {
    background-color: yellow;
}

.main-content {
    font-weight: bold;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: gray;
    grid-gap: 1.5%;
    width: min(90dvw, 90dvh);
    height: min(90dvw, 90dvh);
    margin: 1% auto;
}



.TTT {
    display: grid;
    background-color: lightgray;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}


.cell {
    background-color: white;
    color: white;
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3dvh;
    height: 100%;
    width: 100%;
    place-self: center;
 
    
}

.cell:hover {
    background-color: lightblue;
    cursor: pointer;
    align-items: center;
    margin: 0;
    padding: 0
}


.markX.cellW {
    background-color: lightblue;
    pointer-events: none;
    color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 3dvh;
    font-size: 3dvh;
}

.markX.cell2W {
    background-color: lightpink;
    pointer-events: none;
    color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 3dvh;
    font-size: 3dvh;

}

.markO.cellW {
    background-color: lightblue;
    pointer-events: none;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 3dvh;
    font-size: 3dvh;
}

.markO.cell2W {
    background-color: lightpink;
    pointer-events: none;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3dvh;
    line-height: 3dvh;
}

.cellW {
    background-color: lightblue;
    pointer-events: none;
    font-size: 0;
}

.cell2W {
    background-color: lightpink;
    pointer-events: none;
    font-size: 0;
}



.markX {
    background-color: white;
    color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3dvh;
    pointer-events: none;
}

.markO {
    background-color: white;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 3dvh;
    pointer-events: none;
}

.cellNA {
    background-color: bisque;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 0;
    pointer-events: none;
}

.cell2:hover
{
    background-color: lightpink;
    color: gray;
    cursor: pointer;
    font-size: 3dvh;
}

.btnClose {
    position:absolute;
    font-size: 3dvh;
    text-shadow: black 2px 0px 3px;
    top: -5%;
    left: 85%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    line-height: 7dvh;
}