* {
    user-select: none;
    font-family: fantasy;
}

body {
    margin: 0px;
    height: 100vh;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: beige;
    text-align: -webkit-center;
    position: relative;
}
#result {
    margin-top: 15%;
    font-size: x-large;
}
#rules-btn {
    margin-top: 5%;
    font-size: x-large;
    background: transparent;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}
#rules-close {
    position: absolute;
    right: 5%;
    top: 5%;
    transform: translate(-50%, -50%);
    line-height: 150%;
    margin: auto;
    z-index: 3;
    font-size:xx-large;
    cursor: pointer;
    display: none;
}
#rules {
    width: 100%;
    height: 100%;
    text-align: -webkit-left;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    line-height: 150%;
    margin: auto;
    z-index: 2;
    background-color: rgba(211, 211, 211, 0.95);
    display: flex;
    align-items: center;
    place-content: center;
    user-select: text;
    display: none;
}

#rules p {
    font-weight: bold;
    font-size: medium;
    width: 80%;
    line-height: 200%;
    user-select: text;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 0px; 
    height: 100vh;
}


a {
    color: inherit; 
    text-decoration: inherit;
  }

.btnChar {
    position: absolute;
    text-align: center;
    cursor: pointer;
    background-color: white;
    font-size: 3.5vh;
    padding: 12.5px;
    border-radius: 12px;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 7;
    background-color: lightslategray;
    border-color: bisque;
    color: lightgoldenrodyellow;
    border-width: thick;
    box-shadow: 0 0 10px 3px black;

}

.btnChar.AI {
    top: 44%;   
}

.startScreen {
    visibility: visible;
    position: absolute;
    background-color: lightgray;
    opacity: 0.3;
    text-align: center;
    height: 80vh;
    width: 80vh;
    z-index: 6;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline-offset: 0.5em;  
    
}


.disable {
    pointer-events: none;
}




#lastMove {
    background-color: yellow;
}



.congratsBG {
    visibility: hidden;
    background-color: black;
    margin: 0 6vw 0 6vw;
    max-height: 40vh;
    ;
}

.congratsText {
    font-size: 10vh;
    color: white;
}

.btnRematch {
    font-size: 7vh;
    color: white;
}

span {
    color: red;
}

span:hover {
    cursor: pointer;
    color: yellow;
}

span:active {
    cursor: pointer;
    color: blue;
}


/* .congratsBG {
    visibility: hidden;
    background-color: black;
    margin: 0 6vw 0 6vw;
    max-height: 40vh;
    opacity: 1;
    ;
} */

.restarting {
    z-index: 9;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: opacity 3s;
}

.restarting > h1 {
    color: white;
    padding: 0 1vw 0 1vw;
    font-size: 5vh;
}


.charContainer {
    position: fixed;
    display: grid;
    visibility: hidden;
    opacity: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr 4fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: lightgray;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-gap: 3px;
    padding: 10px;
    z-index: 9;
}

.charContainer.change {
    opacity: 1;
    transition: all 1s;
  }






.players {
    text-align: center;
    position: relative; 
    text-align: center;
    font-size: 3vh;
}

.players > img {
    height: 400px;
    width: 265px;
    margin: 40px 0 40px 0;
    filter:grayscale();
    
}

#P1 {
    border: 5mm ridge lightblue;
}

#P2 {
    border: 5mm ridge pink;
}

.sidebar1 > .player {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}





















.preview {
    position:relative;
    grid-column: 4/6;
    grid-row:1/5;
    background: url('');
    background-size:cover;
    font-size: 0;
    margin : 0 0 0 5px;
    border: 5px solid white;
}

.btnClose {
    position:absolute;
    font-size: 5vh;
    color: white;
    text-shadow: black 2px 0px 3px;
    top: 5;
    left: 90%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    line-height: 7vh;
}


.character {
    width: 100%;
    display:flex; 
    filter:grayscale(100%);
}

.character:hover
{
     cursor: pointer;
     filter: brightness();
}

.character.selected {
    pointer-events: none;
}











header {
    grid-column: 1/4;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    text-align: center;
    font-size: 3vh;
    text-decoration: underline;
    
}


header > h1 {
    grid-column: 2/3;
}

.settings {
    grid-column: 3/4;
}


.settings > img {
    position: absolute;
    height: 50px;
    left: 95%;
    top: 2%;
    border-radius: 50%; 
}

.settings > img:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 0 black); 
}

.settings > img:active {
    cursor: pointer;
    filter: drop-shadow(0 0 0 orange);
}


.options {
    visibility: hidden;
    position: absolute;
    text-align: center;
    color: black;
    background-color: darkgray;
    font-size: 4vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;  
    font-weight: bold;
}

.options > ul > li > span {
    color: White;
    font-weight:normal;
}

.options > div {
    float: right;
    padding: 0.5vw 0.5vw 0 0;
    cursor: pointer;
    color: white;
}

.options > div:hover {
    color: red;
}

.options > div:focus {
    color: blue;
}


.options > ul > li > span.selected {
    color: Blue;
    font-weight: bold;
}

.options > ul > li > span:hover {
    color: red;
    font-weight: bold;
}



ul{
    list-style-type: none;
    padding: 0 3vw 0 3vw;
    text-align: left;
    line-height: 12vh;
}



.sidebar1 {
    grid-column: 1/2;
    grid-row: 2/5; 
    padding: 3vh 0 0 0;
}

.sidebar2 {
    grid-column: 3/4;
    grid-row: 2/5;
    padding: 3vh 0 0 0;
}



.sidebar3 {
    grid-column: 2/3;
    grid-row: 2/3;
    display:flex;
    justify-content:space-between;
    padding: 0 0 25vw 0;
    font-size: 2.2vh;

}

.timer {
    font-size: 3.5vw;
    margin: auto;
    color: gray;
}

.score {
    padding: 2vw 0 3vh 0;
}

















.main-content {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 50vh;
    background-color: gray;
    grid-gap: 10px;
    height: 53vh;

    /* z-index: 3; */
}



.TTT {
    display: grid;
    background-color: lightgray;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* grid-column: 1/4;
    grid-row: 1/4; */
}


.cell {
    background-color: white;
    color: white;
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3vh;
    height: 5.2vh;
    width: 5vh;
 
    
}

.cell:hover {
    background-color: lightblue;
    cursor: pointer;
    align-items: center;
    margin: 0;
    padding: 0
}


.markX.cellW {
    background-color: lightblue;
    pointer-events: none;
    color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 3vh;
    font-size: 3vh;
}

.markX.cell2W {
    background-color: lightpink;
    pointer-events: none;
    color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 3vh;
    font-size: 3vh;

}

.markO.cellW {
    background-color: lightblue;
    pointer-events: none;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 3vh;
    font-size: 3vh;
}

.markO.cell2W {
    background-color: lightpink;
    pointer-events: none;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3vh;
    line-height: 3vh;
}

.cellW {
    background-color: lightblue;
    pointer-events: none;
    font-size: 0;
}

.cell2W {
    background-color: lightpink;
    pointer-events: none;
    font-size: 0;
}



.markX {
    background-color: white;
    color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3vh;
    pointer-events: none;
}

.markO {
    background-color: white;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 3vh;
    pointer-events: none;
}

.cellNA {
    background-color: bisque;
    color: white;
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0;
    pointer-events: none;
}



.cell2:hover
{
    background-color: lightpink;
    color: gray;
    cursor: pointer;
    font-size: 3vh;
}

@media screen and (max-width: 1000px) {

    .sidebar1, .sidebar2 {
        display: none;
    }

    body {
        grid-template-rows: 1fr 1fr 5fr;
        grid-template-columns: 1fr;
    }
    
    header{
        grid-column: 1/2;
        grid-row: 1/2;
        font-size: 1.2vh;
        height:2vh;
    }

    .sidebar3 {
        grid-column: 1/2;
        grid-row: 2/3;
        width: 95vw;
        height: inherit;
        margin-top: 10%;
        justify-content: space-between;


    } 

    .score {
        font-size: 3.5vw;
        padding-left: 10%;
        
    }
    
    .timer {
        font-size: 6.5vw;
        height: inherit;
    }

    .main-content {
        grid-column: 1/2;
        grid-row: 3/4;
        top: 50%;
        height: 94vw;
        width: 94vw;
        margin: auto;
        grid-gap: 7.5px;
    }

    .TTT {
        grid-gap: 0.5vw;
    }

    .cell {
        width: 9.7vw;
        height: 9.7vw;
    }

    
    
 
    
   
  

      

    .charContainer {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80vw;
    }

    .btnClose {
        position:absolute;
        font-size: 3vh;
        text-shadow: black 2px 0px 3px;
        top: -5%;
        left: 85%;
        border: none;
        background-color: transparent;
        cursor: pointer;
        line-height: 7vh;
    }
   
    
    
    .congratsBG {
        margin-top: 15vh;
        margin: auto;
    }
    
    .congratsText {
        font-size: 4vh;
        color: white;
    }
    
    .btnRematch {
        font-size: 4vh;
        color: white;
    }

    .restarting {
        top: 45%;
        left: 52%
    }

    .restarting > h1 {
        font-size: 3vh;
    }


    .options {
        width: 80vw;
        height: 60vh;
        font-size: 5vw;     
    }

    .options > ul {
        line-height: 6vh;
    }

    .settings > img {
        left: 90%;
        height:3vh;


    }
}
